* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SVG preview specific styles */
path {
  vector-effect: non-scaling-stroke;
}

circle {
  cursor: move;
}

svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

#svg_holder {
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

body.dark {
  background: #0c0c0c;
}
body.dark path {
  stroke: white;
}
body.dark circle {
  fill: white;
}