* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SVG preview specific styles */
path {
  vector-effect: non-scaling-stroke;
}
svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
#svg_holder {
  width: 100vw;
  height: 100vh;
  padding: 25px;
}
circle {
  cursor: move;
}
