* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SVG preview specific styles */
path {
  vector-effect: non-scaling-stroke;
}

circle {
  cursor: move;
  transition: r 0.2s;
  stroke-width: 100px;
}
body.dark circle:hover {
  r: 80;
}
body.dark circle:active {
  fill: red;
  r: 80;
}

g[name=reinforcers] {
  fill: #03DE2C;
}

svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

#svg_holder {
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

body.dark {
  background: #0c0c0c;
}
body.dark path {
  stroke: white;
}
body.dark circle {
  fill: white;
  stroke: transparent;
}
